<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de Productos</span>
          <button class="btn btn-success float-end" routerLink="/Crear">
            <i class="fas fa-plus-square"></i> Agregar
          </button>
          <table
            *ngIf="listProducts.length > 0"
            class="table table-striped mt-4"
          >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of listProducts">
                <th scope="row">1</th>
                <td>{{ prod.Name }}</td>
                <td>{{ prod.Category }}</td>
                <td>{{ prod.Location }}</td>
                <td>{{ prod.Price }}</td>
                <td>
                  <i
                    [routerLink]="['/Editar', prod._id]"
                    class="fas fa-pen text-primary"
                  ></i>
                  <i
                    (click)="deleteProduct(prod._id)"
                    class="fas fa-trash-alt text-danger"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5
            style="text-align: start; margin-top: 10px"
            *ngIf="listProducts.length < 1"
          >
            There are no products
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
