<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ title | uppercase }}</span>
          <form
            action=""
            class="mt-3"
            [formGroup]="productForm"
            (ngSubmit)="addProduct()"
          >
            <div class="mb-3">
              <input
                type="text"
                formControlName="Name"
                class="form-control"
                placeholder="Nombre del Producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('Name')?.hasError('required') &&
                  productForm.get('Name')?.touched
                "
              >
                <span>Name is required</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                formControlName="Category"
                class="form-control"
                placeholder="Categoria del Producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('Category')?.hasError('required') &&
                  productForm.get('Category')?.touched
                "
              >
                <span>Category is required</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                formControlName="Location"
                class="form-control"
                placeholder="Ubicacion del Producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('Location')?.hasError('required') &&
                  productForm.get('Location')?.touched
                "
              >
                <span>Location is required</span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="number"
                formControlName="Price"
                class="form-control"
                placeholder="Precio del Producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('Price')?.hasError('required') &&
                  productForm.get('Price')?.touched
                "
              >
                <span>Price is required</span>
              </div>
            </div>
            <div class="mb3">
              <button
                routerLink=""
                class="btn btn-secondary btn-md float-start"
              >
                <i class="fas fa-chevron-circle-left"></i> Volver
              </button>
              <button
                type="submit"
                [disabled]="productForm.invalid"
                class="btn btn-success btn-md float-end"
              >
                <i class="fas fa-plus-square"></i> Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
